<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <%= link_to 'Test App', root_path, class:"navbar-brand" %>
        
        <div class="navbar-nav me-auto ">
            <%= link_to 'About Us', home_about_path, class: "nav-link" %>
        </div>    
        
    </div>
</nav>